@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-afacad-flux: var(--font-afacad-flux);
  --font-bebas-neue: var(--font-bebas-neue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad-flux), Arial, Helvetica, sans-serif;
}

.section-container {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding-inline: clamp(1.5rem, 5vw, 5rem);
}

.top-right-bottom-left-clip {
  clip-path: polygon(0% 0%,
      85% 0%,
      100% 15%,
      100% 100%,
      15% 100%,
      0% 85%);
}

.clip-shape-top-right {
  clip-path: polygon(
    0% 0%,
    15% 15%,
    100% 15%,
    100% 100%,
    0% 100%
  );
}